{{ define "main" }}

<div class="space-small"></div>

<div class="collection">
    {{ range $.Site.Data.photos }}
    {{ $page := $.Site.GetPage . }}

    {{ $image := $page.Resources.GetMatch "photo.*" }}
    {{ $image := $image.Resize "x256 webp q50" }}
    <a href="{{ $page.Permalink }}">
        <img src="{{ $image.Permalink }}">
    </a>
    {{ end }}
</div>

<div class="space"></div>

{{ end }}
