---
title: Home
description: Marco's portfolio
stylesheets: [
    "/styles/style_home.css"
]
---

<div class="space-small"></div>

<div class="information">
    <h2>Who</h2>
    <p>Hello, I'm Marco Pavanello and I'm an artist</p>
    <div class="space-small"></div>
    <h2>What</h2>
    <p>I'm currently working on assets and short films on <a href="https://3d-wolf.com/">Wolf</a></p>
    <p>I only use Linux as my main operating system, and <a href="https://itsfoss.com/why-use-linux/">here</a> is why you should too</p>
</div>

<div class="space"></div>


<div class="social">
	<a title="Email" href="mailto:marco.pavanello@protonmail.com">
		<img src="/images/logos/email.svg">
	</a>
	<a title="Mastodon" href="https://fosstodon.org/@nacioss">
		<img src="/images/logos/mastodon.svg">
	</a>
	<a title="Twitter" href="https://twitter.com/MarcoPPavanello">
		<img src="/images/logos/twitter.svg">
	</a>
	<a title="GitLab" href="https://gitlab.com/users/marcopavanello/projects">
		<img src="/images/logos/gitlab.svg">
	</a>
</div>

<div class="space"></div>
