{{ define "main" }}

<div class="space-small"></div>

<div class="photo">
    {{ $original := .Resources.GetMatch "creation.*" }}
    {{ $image := $original.Resize "2048x webp q95" }}
    <a href="{{ $original.Permalink }}">
        <img src="{{ $image.Permalink }}">
    </a>
</div>

<div class="space"></div>

<div class="post">
    <p>License: {{ .Params.license }}</p>
</div>

<div class="space"></div>

{{ end }}
