<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ .Page.Title }}</title>
        <meta name="description" content="{{ .Params.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/images/logos/mp.svg" type="image/svg+xml">

        {{/* Shared Stylesheets */}}
        <link rel="stylesheet" type="text/css" href="/styles/style_all.css">

        {{ range .Params.stylesheets }}
            <link rel="stylesheet" type="text/css" href="{{ . }}">
        {{ end }}

        {{ range $.Page.Resources.Match "*.css" }}
            <link rel="stylesheet" type="text/css" href="{{ . }}">
        {{ end }}

        <script src="/scripts/menu_bar.js" type="text/javascript"></script>
    </head>

    <body>
        <header>
            <div id="section">
                <div id="menu">
                    <input id="hambmenu" type="checkbox" onclick="openMenu()">
                        <div class="hamburger"></div>
                        <div class="hamburger"></div>
                    </input>
                    <div id="links" onmouseleave="mouseOut()">
                        <ul>
                            {{ $current := lower (path.Base .RelPermalink) }}
                            <li class="main"><a class="{{ if eq $current "/" }}selected{{ end }}" href="/">Home</a></li>
                            <li class="main"><a class="{{ if in .RelPermalink "photos" }}selected{{ end }}" href="/photos">Photos</a></li>
                            <li class="main"><a class="{{ if in .RelPermalink "creations" }}selected{{ end }}" href="/creations">Creations</a></li>
                            <li class="main"><a class="{{ if in .RelPermalink "blog" }}selected{{ end }}" href="/blog">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <main>
            {{/* Each page will define the "main" block which is included here */}}
            {{ block "main" . }}

            {{ end }}
        </main>

    </body>
</html>
