/* Theme */
:root {
	--theme: var(--neutral);
	--img: var(--neutral-img);
}


/* Content */
.information p {
	text-align: center;
	color: rgba(var(--neutral), var(--high-emphasis));
}

.information a {
	color: var(--theme);
}


/* Social */
.social {
	width: 100%;
	text-align: center;
}

.social a {
	width: 50px;
	display: inline-block;
	margin: 10px;
	padding: 5px;
	border-radius: var(--round);
	transition: all 0.3s;
}

.social img {
	width: 100%;
	filter: var(--neutral-img);
	transition: all 0.3s;
}

.social a:hover img {
	filter: var(--neutral-img);
	opacity: var(--selected);
}
