/* Theme */
:root {
	--theme: var(--neutral);
	--img: var(--neutral-img);
	--box-normal: var(--dp2);
	--box-hover: var(--dp24);
}


a {
	text-decoration: none;
}


.posts {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 50px;
}

.post {
	width: 300px;
	height: 350px;
	margin: 10px;
	border-radius: var(--round);
	background: rgba(var(--theme), var(--box-normal));
	text-align: center;
	transition: all 0.3s;
	position:relative;
}

.post img {
	width: 100%;
	border-radius: var(--round) var(--round) 0 0;
}

.post h2 {
	font-size: 25px;
}

.date {
	color: rgba(var(--theme), var(--medium-emphasis));
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.post:hover {
	background: rgba(var(--theme), var(--box-hover));
}

/* Responsive */
@media only screen and (max-width: 600px) {
	.posts {
		padding: 0 5%;
	}
	.post {
		width: 100%;
		margin: 10px 0;
	}
}
