/* Theme */
:root {
	--theme: var(--neutral);
	--img: var(--neutral-img);
}


a {
	text-decoration: none;
}

.collection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 5%;
}

.collection img {
	width: 100%;
	border-radius: var(--round);
}

.collection a {
	margin: 2px 5px;
}
