/* Theme */
:root {
	--theme: var(--neutral);
	--img: var(--neutral-img);
}


.photo {
	text-align: center;
	width: 100%;
}

.photo img {
	border-radius: var(--round);
	width: 90%;
}


/* Responsive */
@media only screen and (max-width: 600px) {
	.post {
		padding: 0;
	}
}

@media only screen and (min-width: 600px) {
	.post {
		padding: 0 15%;
	}
}
